body {
  text-align: center;
  background: url("image/sample_site_background-01.png");
  background-size: cover;
  color: #5e514d;
  font-family: Verdana, sans-serif;
}
hr { 
  width: 200px;
}
p {
  font-size: 22px;
}